<section id="hero">
    <div class="hero-image">
        <div class="container">
            <h1 class="hero-tittle text-uppercase">
                Récuperez lz flow de <br> avec notre e-shop
            </h1>
        </div>
    </div>
</section>

<app-cart></app-cart>

<section>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-3">

                <!-- filtre composante -->

                <app-aside></app-aside>

            </div>
            <div class="col-md-9">

                <!-- composante de produit -->

                <app-products></app-products>
                
            </div>
        </div>
    </div>
</section>
