.nav-link{
    color: white;
}

.active{
    font-weight: bolder;
    text-decoration: underline;
    color: white !important;
}

nav{
    height: 132px;
    background-color: black !important;
    .navbar-toggler{
        background-color: white !important ;
    }
}